.bulletPoint {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dot {
  width: 8px;
  height: 8px;
  min-width: 8px;
  border-radius: 50%;
  background-color: var(--color-gold-primary);
}

.text {
  font-size: var(--fs-md);
  line-height: 32px;
  font-family: var(--font-body);
  font-weight: var(--fw-regular);
  color: var(--color-gray-600);
}

@media (max-width: 992px) {
  .text {
    font-size: 18px;
    line-height: 24px;
  }
}