.inner {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}


@media (max-width: 1367px) {
  .grid {
    gap: 50px;
  }
}

@media (max-width: 769px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}